---
import Layout from '../../layouts/MainLayout.astro';
import FixedHeight from '../_components/_fixedHeight.astro';
import PageHeader from '../_components/_pageTitle.astro';
import MainSection from './_components/_mainSection.astro';
import Sidebar from './_components/_sidebar.astro';

const title = 'About | Devduttsinh Chudasama';
const description =
  'Learn more about Devduttsinh Chudasama, a passionate software developer based in Gujarat, India. Discover my skills, experience, and interests in web development and problem-solving.';
const keywords = [
  'devduttsinh',
  'devdutt',
  'chudasama',
  'about devdutt',
  'about devduttsinh',
];
---

<Layout
  pageTitle={title}
  pageDescription={description}
  ogTitle={title}
  ogDescription={description}
  keywords={keywords}
>
  <FixedHeight color='bg-neutral-900' />
  <div class='bg-neutral-900'>
    <div class='lg:max-w-5xl max-w-2xl px-4 mx-auto space-y-4'>
      <PageHeader text='AbOUT' />

      <div class='relative grid grid-cols-12 gap-4 text-white pb-2'>
        <Sidebar />
        <MainSection />
      </div>
    </div>
  </div>
  <FixedHeight color='bg-neutral-900' />
</Layout>
