---
import Layout from '../layouts/MainLayout.astro';
import FixedHeight from './_components/_fixedHeight.astro';
import PreFormat from './_components/_preFormat.astro';
const title = 'Devduttsinh Chudasama | Software Developer';
const description =
  "Welcome to my portfolio! Explore my projects and skills in web development, software engineering, and more. Let's collaborate on something awesome!";
const keywords = ['devduttsinh', 'devdutt', 'chudasama', 'devdutt portfolio'];
---

<Layout
  pageTitle={title}
  pageDescription={description}
  ogTitle={title}
  ogDescription={description}
  keywords={keywords}
>
  <!-- <FixedHeight color='bg-slate-900' /> -->
  <FixedHeight color='bg-neutral-900' />

  <div class='bg-neutral-900'>
    <div
      class='mx-auto p-4 flex flex-col text-slate-200 max-w-3xl text-3xl sm:text-4xl md:tracking-wide font-semibold justify-between gap-8'
    >
      <h1 class='text-green-500 text-2xl block mb-2'>
        // Welcome to Devdutt<span>sinh chudasama</span>'s world of &lt;code
        /&gt;
      </h1>
      <p class='text-5xl block animate-text font-semibold mb-4 font-serif'>
        Hello, World!; <span class='text-yellow-300'>👋</span>
      </p>
      <PreFormat />
      <p class='text-lg tracking-normal'>
        <span class='animate-text'>#</span> Did you know that procrastination is
        just another way of multitasking? Feel free to explore my portfolio while
        you're here!
      </p>
    </div>
  </div>
  <FixedHeight color='bg-neutral-900' />
</Layout>
