---
import { Image } from 'astro:assets';
import Social from './Social.astro';
const side = 30;
const socials = [
  {
    link: 'https://github.com/devdutt6',
    alt: 'github icon',
    src: '/socialIcons/github.svg',
  },
  {
    link: 'https://www.naukri.com/code360/profile/devdutt',
    alt: 'coding ninjas icon',
    src: '/socialIcons/codingninjas.svg',
  },
  {
    link: 'https://linkedin.com/in/devduttsinh',
    alt: 'linkedin icon',
    src: '/socialIcons/linkedin.svg',
  },
  {
    link: 'mailto:devduttchudasama1339@gmail.com',
    alt: 'email icon',
    src: '/socialIcons/gmail.svg',
  },
];
---

<footer
  class='sm:grid-cols-3 max-w-3xl mx-auto text-md px-4 grid items-center justify-between grid-cols-1 py-5 tracking-widest text-white'
>
  <div class='sm:hidden flex justify-between'>
    <Social link='/'>
      <Image src='/logo.svg' alt='home icon' width={side} height={side} />
    </Social>
    <div class='shrink-0 flex justify-end gap-2'>
      {
        socials.map((social) => (
          <Social link={social.link}>
            <Image
              src={social.src}
              alt={social.alt}
              width={side}
              height={side}
            />
          </Social>
        ))
      }
    </div>
  </div>
  <div class='sm:block shrink-0 content-start hidden'>
    <Social link='/'>
      <Image src='/logo.svg' alt='home icon' width={side} height={side} />
    </Social>
  </div>
  <div class='sm:m-0 flex justify-center mt-4'>
    <p class='shrink-0 leading-none cursor-default'>
      Made with &#10084; by devdutt
    </p>
  </div>

  <div class='sm:flex shrink-0 justify-end hidden gap-2'>
    {
      socials.map((social) => (
        <Social link={social.link}>
          <Image src={social.src} alt={social.alt} width={side} height={side} />
        </Social>
      ))
    }
  </div>
</footer>
