---
import { Image } from "astro:assets";
import Social from "./Social.astro";
const side = 30;
const socials = [
  {
    link: "https://github.com/devdutt6",
    alt: "github icon",
    src: "/github.svg",
  },
  {
    link: "https://linkedin.com/devduttsinh",
    alt: "linkedin icon",
    src: "/linkedin.svg",
  },
  {
    link: "mailto:devduttchudasama1339@gmail.com",
    alt: "email icon",
    src: "/gmail.svg",
  },
];
---

<footer
  class='text-md px-14 flex items-center justify-between py-4 tracking-widest text-white'
>
  <Social link='/'>
    <Image src='/logo.svg' alt='home icon' width={side} height={side} />
  </Social>
  <p class='leading-none cursor-default shrink-0'>
    Made with &#10084; by devdutt
  </p>
  <div class='shrink-0 flex gap-2'>
    {
      socials.map((social) => (
        <Social link={social.link}>
          <Image src={social.src} alt={social.alt} width={side} height={side} />
        </Social>
      ))
    }
  </div>
</footer>
