---
import { getCollection } from 'astro:content';
import FixedHeight from '../../components/FixedHeight.astro';
import HoverUnder from '../../components/HoverUnder.astro';
import Layout from '../../layouts/Layout.astro';

const personalProjects = await getCollection('projects', ({ id }) => {
  return id.startsWith('personal');
});
const teamProjects = await getCollection('projects', ({ id }) => {
  return id.startsWith('team');
});
---

<Layout>
  <FixedHeight color='bg-neutral-900' />

  <div class='bg-neutral-900'>
    <div class='max-w-3xl p-4 mx-auto space-y-6'>
      <div class='text-6xl font-extrabold text-white'>PROjECtS</div>
      <div
        class='md:grid-cols-2 md:max-w-3xl grid max-w-md grid-cols-1 gap-4 mx-auto'
      >
        {
          personalProjects.concat(teamProjects).map(({ id, slug, data }) => {
            return (
              <div class='rounded-xl bg-neutral-900 group/parent relative flex flex-col'>
                <div class='absolute scale-[1.020] invisible group-hover/parent:scale-100 group-hover/parent:visible transform transition-transform duration-150 h-full inset-0 bg-gradient-to-br from-violet-600 via-fuchsia-500 to-cyan-500 blur-sm z-0 group-hover/parent:-translate-y-2' />
                <div class='group-hover/parent:-translate-y-2 bg-neutral-900 ring-1 ring-zinc-700 hover:ring-zinc-500 relative flex flex-col justify-between h-full p-4 rounded-lg'>
                  <div class='flex flex-col items-center justify-center'>
                    <HoverUnder color='border-yellow-400'>
                      <a href={`/projects/${slug}`}>
                        <h2 class='bg-gradient-to-br from-fuchsia-600 to-cyan-500 bg-clip-text group-hover/parent:text-transparent text-2xl font-bold tracking-wide text-white transition-colors duration-500 cursor-pointer'>
                          {data.projectName}
                        </h2>
                      </a>
                    </HoverUnder>

                    <p class='mt-4 text-lg leading-7 text-white'>
                      {data.shortSummary}
                    </p>
                  </div>
                  <div class='group-hover/parent:opacity-100 flex justify-end mt-8 text-white transition-opacity duration-300 opacity-0'>
                    <a href={`/projects/${slug}`}>Read More</a>
                  </div>
                </div>
              </div>
            );
          })
        }
      </div>
    </div>
  </div>

  <FixedHeight color='bg-neutral-900' />
</Layout>

<!-- <div class='md:grid-cols-2 bg-neutral-900 grid'>
    <div class='lg:items-end md:border-r-2 flex flex-col p-4'>
      <h2
        class='md:text-5xl sm:mb-8 relative text-2xl font-semibold tracking-wide text-yellow-400'
      >
        Personal
      </h2>
      <List projects={personalProjects} classNames='w-full lg:text-right' />
    </div>
    <div class='flex flex-col p-4'>
      <h2
        class='md:text-5xl sm:mb-8 relative text-2xl font-semibold tracking-wide text-yellow-400'
      >
        Team
      </h2>
      <List projects={teamProjects} />
    </div>
  </div> -->
