---
import { getCollection } from 'astro:content';
import FixedHeight from '../_components/_fixedHeight.astro';
import PageHeader from '../_components/_pageTitle.astro';
import ProjectCard from './_components/_projectCard.astro';
import Layout from '../../layouts/MainLayout.astro';

const projects = await getCollection('projects');
const title = 'Projects | Devdutt';
const description =
  "Browse through Devdutt Chudasama's portfolio showcasing web development projects, applications, and software solutions. Get inspired and see what I can create for you.";
---

<Layout
  pageTitle={title}
  pageDescription={description}
  ogTitle={title}
  ogDescription={description}
>
  <FixedHeight color='bg-neutral-900' />

  <div class='bg-neutral-900'>
    <div class='max-w-3xl px-4 pb-4 mx-auto space-y-6'>
      <PageHeader text='PROjECtS' />
      <div
        class='md:grid-cols-2 md:max-w-3xl grid max-w-md grid-cols-1 gap-4 mx-auto'
      >
        {
          projects.map(({ slug, data }) => (
            <ProjectCard
              slug={`projects/${slug}`}
              shortSummary={data.shortSummary}
              projectName={data.projectName}
            />
          ))
        }
      </div>
    </div>
  </div>

  <FixedHeight color='bg-neutral-900' />
</Layout>
