---
import type { CollectionEntry } from 'astro:content';
import { getCollection } from 'astro:content';
import FixedHeight from '../../components/FixedHeight.astro';
import Heading from '../../components/customMdx/Heading.astro';
import Layout from '../../layouts/MainLayout.astro';

export async function getStaticPaths() {
  const blogPosts = await getCollection('blog');

  return blogPosts.map((post) => ({
    params: {
      slug: post.slug,
    },
    props: {
      post,
    },
  }));
}

type Props = { post: CollectionEntry<'blog'> };

const { post } = Astro.props;
const { Content } = await post.render();
const { title, og_title, og_description, og_image, og_publishedOn } = post.data;
---

<Layout
  pageTitle={title}
  pageDescription={og_description}
  ogTitle={og_title}
  ogDescription={og_description}
  ogImage={og_image}
  ogPublishedOn={og_publishedOn}
  article={true}
>
  <FixedHeight color='bg-slate-900' />
  <FixedHeight color='bg-neutral-900' />

  <div class='bg-neutral-900 p-4 md:p-0 prose-img:pt-4 prose-img:mt-0'>
    <article
      class='md:prose-lg prose-invert prose-a:text-blue-600 prose-h2:text-yellow-400 prose-li:prose-ul:marker:text-yellow-400 prose-li:prose-ol:marker:text-blue-600 prose-code:select-all mx-auto prose'
    >
      <Content components={{ h1: Heading }} />
    </article>
  </div>

  <FixedHeight color='bg-neutral-900' />
  <script>
    import '../../scripts/backButton.js';
    import '../../scripts/shareButton.js';
  </script>
</Layout>
