---
import { getCollection } from 'astro:content';
import BlogCard from '../../components/BlogCard/BlogCard.astro';
import FixedHeight from '../../components/FixedHeight.astro';
import PageHeader from '../../components/PageHeader.astro';
import Layout from '../../layouts/MainLayout.astro';

const blogPosts = await getCollection('blog');
const title = 'Blogs by Devdutt';
const description =
  'The collection of blogs, learnings, insightful things documented and posted by devdutt';
---

<Layout
  pageTitle={title}
  pageDescription={description}
  ogTitle={title}
  ogDescription={description}
>
  <FixedHeight color='bg-neutral-900' />

  <div class='bg-neutral-900'>
    <div class='max-w-3xl p-4 mx-auto space-y-6'>
      <PageHeader text='Bl0GS' />
      <main class='container space-y-4 mx-auto'>
        {blogPosts.map((post) => <BlogCard post={post} />)}
      </main>
    </div>
  </div>

  <FixedHeight color='bg-neutral-900' />
</Layout>
