---
import FixedHeight from "../../components/header/FixedHeight.astro";
import Layout from "../../layouts/Layout.astro";

const posts = await Astro.glob("../../content/*.mdx");
---

<Layout>
  <FixedHeight color='bg-slate-800' />

  <main class='container max-w-3xl mx-auto mt-4 space-y-4'>
    {
      posts.map((post) => (
        <div class='group relative rounded-lg'>
          <div class='absolute scale-[1.020] invisible group-hover:scale-100 group-hover:visible transform transition-transform duration-150 h-full inset-0 bg-gradient-to-br from-violet-600 via-fuchsia-500 to-cyan-500 blur-sm z-0 group-hover:-translate-y-2' />
          <div class='bg-zinc-900 group-hover:-translate-y-2 relative h-full p-8 px-8 text-white transform rounded-lg'>
            <h1 class='bg-gradient-to-br from-fuchsia-600 to-cyan-500 bg-clip-text w-fit p-1 text-4xl font-semibold tracking-wide text-transparent cursor-pointer'>
              <a href={`/blogs/${post.getHeadings()[0].slug}`}>
                {post.frontmatter.title}
              </a>
            </h1>
            <ul class='flex gap-2 my-3'>
              {post.frontmatter.tags &&
                post.frontmatter.tags.map((tag: string) => (
                  <li class='bg-white/40 px-2 rounded-lg'>{tag}</li>
                ))}
            </ul>
            <p class='mb-5 text-sm tracking-wide'>
              Published On:{" "}
              {new Date(
                post.frontmatter.og_publishedOn || Date.now()
              ).toLocaleDateString("en-US", {
                month: "short",
                day: "2-digit",
                year: "numeric",
              })}
            </p>
            <p class='text-lg tracking-wide'>
              {post.frontmatter.og_description}
            </p>
          </div>
        </div>
      ))
    }
    <div class='group relative rounded-lg'>
      <div
        class='absolute scale-[1.020] invisible group-hover:scale-100 group-hover:visible transform transition-transform duration-150 h-full inset-0 bg-gradient-to-br from-violet-600 via-fuchsia-500 to-cyan-500 blur-sm z-0 group-hover:-translate-y-2'
      >
      </div>
      <div
        class='bg-zinc-900 group-hover:-translate-y-2 relative h-full p-8 px-8 text-white transform rounded-lg'
      >
        <h1
          class='bg-gradient-to-br from-fuchsia-600 to-cyan-500 bg-clip-text w-fit p-1 text-4xl font-semibold tracking-wide text-transparent cursor-pointer'
        >
          <a href={`/blogs/`}>
            {"post.frontmatter.title"}
          </a>
        </h1>
        <ul class='flex gap-2 my-3'>
          <!-- {post.frontmatter.tags &&
            post.frontmatter.tags.map((tag: string) => (
              <li class='bg-white/40 px-2 rounded-lg'>{tag}</li>
            ))} -->
        </ul>
        <p class='mb-5 text-sm tracking-wide'>
          Published On:{" "}
          {
            new Date(null || Date.now()).toLocaleDateString("en-US", {
              month: "short",
              day: "2-digit",
              year: "numeric",
            })
          }
        </p>
        <p class='text-lg tracking-wide'>
          {"post.frontmatter.og_description"}
        </p>
      </div>
    </div>
  </main>
  <FixedHeight color='bg-slate-800' />
</Layout>
