---
import { getCollection } from 'astro:content';
import Layout from '../../layouts/MainLayout.astro';
import FixedHeight from '../_components/_fixedHeight.astro';
import PageHeader from '../_components/_pageTitle.astro';
import BlogCard from './_components/_blogCard.astro';

const blogPosts = await getCollection('blog');
const title = 'Blogs | Devduttsinh';
const description =
  'The collection of blogs, learnings, insightful things documented and posted by devduttsinh chudasama';
const keywords = [
  'devduttsinh',
  'devdutt',
  'blogs',
  'software',
  'coding',
  'development',
  'chudasama',
  'devduttsinh blogs',
];
---

<Layout
  pageTitle={title}
  pageDescription={description}
  ogTitle={title}
  ogDescription={description}
  keywords={keywords}
>
  <FixedHeight color='bg-neutral-900' />

  <div class='bg-neutral-900'>
    <div class='max-w-3xl px-4 mx-auto space-y-6'>
      <PageHeader text='Bl0GS' />
      <main class='container space-y-4 mx-auto'>
        {blogPosts.map((post) => <BlogCard post={post} />)}
      </main>
    </div>
  </div>

  <FixedHeight color='bg-neutral-900' />
</Layout>
