---
import type { MarkdownLayoutProps } from 'astro';
import FixedHeight from '../components/FixedHeight.astro';
import Layout from './Layout.astro';

type Props = MarkdownLayoutProps<{
  title: string;
  og_title: string;
  og_description: string;
  og_image: string;
  og_type: string;
  og_author: string;
  og_publishedOn: string;
}>;

const { frontmatter, url } = Astro.props;
---

<!doctype html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='description' content={frontmatter.og_description} />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <title>{frontmatter.title || 'Devdutt/Blog'}</title>
    <meta property='og:title' content={frontmatter.og_title} />
    <meta property='og:description' content={frontmatter.og_description} />
    <meta property='og:url' content={url} />
    <meta property='og:image' content={frontmatter.og_image} />
    <meta property='og:type' content={frontmatter.og_type} />
    <meta property='og:author' content={frontmatter.og_author} />
    <meta property='og:published_time' content={frontmatter.og_publishedOn} />
    <meta property='twitter:card' content='summary_large_image' />
    <meta
      property='article:published_time'
      content={frontmatter.og_publishedOn}
    />
    <style>
      html {
        scroll-behavior: smooth;
      }
    </style>
  </head>
  <Layout>
    <FixedHeight color='bg-slate-700' />
    <FixedHeight color='bg-slate-700' />
    <FixedHeight color='bg-neutral-900' />

    <div class='bg-neutral-900'>
      <article
        class='md:prose-lg prose-invert prose-h2:text-yellow-400 prose-li:prose-ul:marker:text-yellow-400 prose-li:prose-ol:marker:text-blue-600 prose-code:select-all mx-auto prose'
      >
        <slot />
      </article>
    </div>
  </Layout>


</html>
