---
import { ViewTransitions } from 'astro:transitions';
import Footer from './_components/footer/index.astro';
import Header from './_components/header/index.astro';

interface Props {
  pageTitle: string;
  pageDescription: string;
  ogTitle: string;
  ogDescription: string;
  keywords: string[];
  ogImage?: string;
  article?: boolean;
  ogPublishedOn?: string;
}

const {
  pageTitle,
  pageDescription,
  ogTitle,
  keywords,
  ogDescription,
  article = false,
  ogPublishedOn = '',
  ogImage = 'https://devdutt-portfolio.vercel.app/open/pc.png',
} = Astro.props;
---

<!doctype html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>{pageTitle}</title>
    <meta name='description' content={pageDescription} />
    <meta name='keywords' content={keywords.join(', ')} />

    <meta property='og:title' content={ogTitle} />
    <meta property='og:image' content={ogImage} />
    <meta property='og:description' content={ogDescription} />
    <meta property='twitter:card' content='summary_large_image' />
    {
      article && (
        <>
          <meta property='og:type' content='article' />
          <meta property='og:published_time' content={ogPublishedOn} />
          <meta property='article:published_time' content={ogPublishedOn} />
        </>
      )
    }

    <ViewTransitions />
    <link rel='icon' type='image/svg+xml' href='/logo.svg' />
    <link rel='preconnect' href='https://fonts.googleapis.com' />
    <link rel='preconnect' href='https://fonts.gstatic.com' crossorigin />
    <link
      href='https://fonts.googleapis.com/css2?family=Platypi:wght@800&display=swap'
      rel='stylesheet'
    />
    <link
      href='https://fonts.googleapis.com/css2?family=Anton&display=swap'
      rel='stylesheet'
    />
    <link href='/globals.css' rel='stylesheet' />
  </head>

  <body class='bg-slate-900'>
    <Header />
    <slot />
    <Footer />
  </body>
</html>
