---
import type { CollectionEntry } from 'astro:content';

interface Props {
  post: CollectionEntry<'blog'>;
}

const { post } = Astro.props;
const { slug, data } = post;
const finalURL = `/blogs/${slug}`;
---

<div class='relative rounded-lg group'>
  <a href={finalURL}>
    <div
      class='relative h-full p-4 sm:px-8 sm:py-4 transform rounded-lg group-hover:-translate-y-1 ring-1 ring-zinc-700 hover:ring-zinc-500 text-white space-y-4'
    >
      <h1
        class='text-2xl sm:text-4xl font-bold tracking-wide cursor-pointer text-yellow-400'
      >
        {data.title}
      </h1>
      <ul class='flex gap-2 flex-wrap'>
        {
          data.tags &&
            data.tags.map((tag) => (
              <li class='px-2 rounded-lg bg-white/40'>{tag}</li>
            ))
        }
      </ul>
      <p class='text-sm tracking-wide'>
        Published On:&nbsp;{data.og_publishedOn}
      </p>
      <p class='text-lg tracking-wide'>
        {data.og_description}
      </p>
    </div>
  </a>
</div>
